body {
    margin: 0;
    font-family: "Proxima Nova", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background: transparent url('../images/background.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    height: 100%;
    position: relative;
}

h2, h3, p, a {
    color: #f5f5f5;
}

main {
    margin: 0 auto;
    text-align: center;
}

/* Header styles */
#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #000;
    width: 100%;
    z-index: 2;
}

.header-back-button {
    background-color: #000;
    color: #fff;
    border: none;
    font-size: 16px;
    margin-left: 16px;
    height: 60px;
}

.header-left-arrow {
    height: 12px;
}

.header-title {
    height: 60px;
}

.hilton-logo-big {
    padding: 8px;
    height: 60px;
    margin-right: 16px;
}

.hilton-logo-small {
    padding: 8px;
    height: 40px;
    margin-right: 8px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 102px;
}

/* Section styles */
.content {
    padding: 40px 40px 60px;
    min-height: 100vh; /* will cover the 100% of viewport */
    overflow: hidden;
    display: block;
    position: relative;
}

/* Article styles */
.location-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 40px;
}

.location-heading {
    margin-top: 24px;
    margin-bottom: 14px;
}
.location-image {
    border: 3px solid #f5f5f5;
}

.location-address {
    color: #819BB4;
    text-align: left;
    line-height: 24px;
}

.location-phone {
    margin-top: 4px;
}

/* Navigation */
.nav-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 0;
    border-radius: 30px;
}

.nav-list-button {
    display: block;
    width: 100%;
    font-size: 24px;
    color: #000;
    padding: 16px;
    text-align: left;
    font-weight: bold;
    position: relative;
    border: none;
}

.nav-right-arrow {
    position: absolute;
    height: 21px;
    top: 20px;
    right: 14px;
}
.nav-list-button:first-child {
    background: #f0f9ff; /* Old browsers */
    background: -moz-linear-gradient(top, #f0f9ff 0%,#819BB4 100%, #a1dbff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f0f9ff 0%, #819BB4 100%,#a1dbff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f0f9ff 0%, #819BB4 100%,#a1dbff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f9ff', endColorstr='#a1dbff',GradientType=0 ); /* IE6-9 */
}

.nav-list-item:first-child button {
    -moz-border-radius-topleft: 7px;
    -moz-border-radius-topright: 7px;
    -webkit-border-top-left-radius: 7px;
    -webkit-border-top-right-radius: 7px;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

.nav-list-item:last-child button {
    -moz-border-radius-bottomleft: 7px;
    -moz-border-radius-bottomright: 7px;
    -webkit-border-bottom-left-radius: 7px;
    -webkit-border-bottom-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
}

/* Utils */
.responsive-image {
    width: 100%;
    height: auto;
}

/* Footer styles */
footer {
    color: white;
    text-align: center;
    background-color: rgba(0,0,0,.4);
    position:absolute;
    bottom:0;
    width:100%;
    height:60px;
}

/* Media Queries */
@media only screen and (min-width : 768px) {
    header {
        height: 80px;
    }

    .hilton-logo-big {
        display: block;
    }

    .hilton-logo-small {
        display: none;
    }
}

@media only screen and (max-width : 767px) {
    header {
        height: 60px;
    }

    .hilton-logo-small {
        display: block;
    }

    .hilton-logo-big {
        display: none;
    }
}
